**/doc/api/
**/ios/Flutter/.last_build_id
**/ios/Flutter/.last_build_id**/doc/api/
*.app
*.avi
*.class
*.exe
*.flv
*.iml
*.ipr
*.iws
*.iws*.iml
*.jar
*.log
*.mov
*.mp4
*.py[cod]
*.pyc
*.swp
*.tiff
*.war
*.wmv
.atom/
.buildlog/
.dart_tool/
.dart_tool/*.pyc
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.history
.history.flutter-plugins
.idea/
.packages
.pub-cache/
.pub/
.svn/
clients-portal-app/android/app/debug
clients-portal-app/android/app/profile
clients-portal-app/android/app/release
clients-portal-app/build/
/logs/
/oak_repository/
app.*.map.json
app.*.symbols
dist/
clients-portal-app/lib/generated_plugin_registrant.dart
clients-portal-app/lib/generated_plugin_registrant.dart.packages
node_modules/
target/
TEST*.xml
Thumbs.db
